div(layout="column" layout-align="center center")
	div
		md-button.md-raised.md-primary(ng-click='openUploadChart()') Upload Chart to AWS S3
	div
		md-button.md-raised.md-primary(ng-click='openCards()') Edit Chart
